Compute the engagement score to each user. Consider the engagement score as the Euclidean distance between the user data point & the less engaged cluster (use the first clustering for this) (Euclidean Distance)

In [1]:
import sys
sys.path.insert(0,'../scripts')

In [2]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from joblib import dump
pd.set_option('max_column', None)
pd.set_option('display.float_format', '{:.2f}'.format)
%matplotlib inline
#pd.set_option('display.float_format', lambda x: '%.0f' % x)
#pd.set_option('display.max_columns', None)

C:\Users\kachase\Anaconda3\lib\site-packages\sklearn\utils\validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

In [3]:
# Importing Local Modules

from results_pickler import ResultPickler

In [4]:
results = ResultPickler()

# Engagement Score

In [5]:
engagement=pd.read_csv('../data/engagement.csv')

In [6]:
# Get centroid value from the previous files
engagement_centroids = pd.read_csv('../data/engagement_centroid.csv')
engagement_centroids = engagement_centroids.iloc[:,1:]
engagement_centroids

   MSISDN  total_data  total_duration  session_count
0    1.00        0.03            0.00           0.00
1    0.99        0.12            0.02           0.00
2    1.00        0.06            0.01           0.00

In [7]:
# Get standardized engagement metric values
engagement_metrics = pd.read_csv('../data/engagement_cluster.csv')
#engagement_metrics.index = engagement_metrics['MSISDN']
#engagement_metrics = engagement_metrics.iloc[:,1:4]

In [8]:
engagement_metrics=engagement_metrics.drop(['Unnamed: 0'], axis = 1)
engagement_metrics.head()

   MSISDN  total_data  total_duration  session_count
0    1.00        0.04            0.00           0.00
1    1.00        0.01            0.01           0.00
2    1.00        0.03            0.00           0.00
3    1.00        0.01            0.00           0.00
4    1.00        0.07            0.00           0.00

In [9]:
# Calculating the distance between the metric values and the centroid of the the first k-means cluster
engagement_score = euclidean_distances(engagement_metrics.values.tolist(),[engagement_centroids.values.tolist()[0]])
engagement_score

array([[0.01142183],
       [0.01313028],
       [0.00657103],
       ...,
       [0.02588455],
       [0.02613211],
       [0.02613367]])

In [10]:
# changing engagement score from a list of lists to list of values only
engagement_score = [val[0] for val in engagement_score.tolist()]
engagement_score[:2]

[0.011421831075927716, 0.01313027704604287]

# Experience score of each user

In [11]:
# Get centroid value from the previous files
experience_centroids = pd.read_csv('../data/experience_centroid.csv')
experience_centroids = experience_centroids.iloc[:,1:]
experience_centroids

   MSISDN  phone_name  phone_count  avg_rtt  avg_throughput  avg_retrans
0    0.00        0.00         0.18     0.20            0.92         0.01
1    0.00        0.00         0.01     1.00            0.02         0.00
2    0.00        0.00         0.19     0.78            0.50         0.01

In [21]:
# Get standardized experience metric values
experience_metrics = pd.read_csv('../data/experience_cluster.csv')
df = pd.read_csv('../data/experience.csv')
experience_metrics.index = df['MSISDN']
experience_metrics = experience_metrics.iloc[:,1:7]
experience_metrics.head(2)

,MSISDN,phone_name,phone_count,avg_rtt,avg_throughput,avg_retrans
MSISDN,,,,,,
33601001722.00,0.00,0.00,0.00,1.00,0.00,0.00
33601001754.00,0.00,0.00,0.00,1.00,0.00,0.00

In [22]:
# Calculating the distance between the metric values and the centroid of the the first k-means cluster
experience_score = euclidean_distances(experience_metrics.values.tolist(),[experience_centroids.values.tolist()[0]])
experience_score

array([[1.22983954],
       [1.22983965],
       [1.22983835],
       ...,
       [1.22983974],
       [1.22360357],
       [1.222458  ]])

In [27]:
# changing engagement score from a list of lists to list of values only
experience_score = [val[0] for val in experience_score.tolist()]
experience_score[:2]

AttributeError: 'list' object has no attribute 'tolist'

In [24]:
#creating a dataframe to contain both engagement and experience score with index being 'MSISDN/Number' to identify the user
df = pd.DataFrame()
df['engagement_score'] = engagement_score
df['experience_score'] = experience_score
df.index = engagement_metrics.index
#Saving the data
results.add_data('engagement_score',df.iloc[:,:1])
results.add_data('experience_score',df.iloc[:,1:2])
#result
df

ValueError: Length of values does not match length of index

In [ ]:
-i will have to ormalize my data to a seriesof zeros ad oes i order to get proper euclidia distances
-For z scores the mean is at the center

In [ ]:
features = engagement.copy()

In [ ]:
df['engagement_score']=np.linalg.norm(engagement[features] - [center])

In [ ]:
engagement_score=[]
for i in engagement:
    engagement_score.append(euclidean_distances([i.tolist()],[centroids[0].tolist()]))

Compute the experience score to each user. Consider the experience score as the Euclidean distance between the user data point & the worst experience’s cluster.

In [ ]:
experience=pd.read_csv('../data/experience.csv')

In [ ]:
experience.head(2)