Compute the engagement score to each user. Consider the engagement score as the Euclidean distance between the user data point & the less engaged cluster (use the first clustering for this) (Euclidean Distance)

In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.0f' % x)
pd.set_option('display.max_columns', None)

In [4]:
engagement=pd.read_csv('../data/engagement.csv')

In [6]:
engagement.head(2)

,Unnamed: 0,MSISDN,total_data,total_duration,session_count,other_total_x,gaming_total,netflix_total,yt_total,google_total,mail_total,other_total_y,socials_total,CLUSTERS
0,0,33601001722,1255787564,116720140,1,386570872,812458661,27180981,21624548,4389005,1331362,386570872,2232135,0
1,1,33601001754,436417344,181230963,1,281710071,119750078,11221763,12432223,5334863,3307781,281710071,2660565,0

In [ ]:
-i will have to ormalize my data to a seriesof zeros ad oes i order to get proper euclidia distances
-For z scores the mean is at the center

In [17]:
features = engagement.copy()

In [18]:
df['engagement_score']=np.linalg.norm(engagement[features] - [center])

ValueError: Must pass DataFrame with boolean values only

In [13]:
engagement_score=[]
for i in engagement:
    engagement_score.append(euclidean_distances([i.tolist()],[centroids[0].tolist()]))

NameError: name 'euclidean_distances' is not defined

Compute the experience score to each user. Consider the experience score as the Euclidean distance between the user data point & the worst experience’s cluster.

In [7]:
experience=pd.read_csv('../data/experience.csv')

In [9]:
experience.head(2)

,Unnamed: 0,MSISDN,phone_name,phone_count,avg_rtt,avg_throughput,avg_retrans,CLUSTERS
0,0,33601001722,Huawei P20 Lite Huawei Nova 3E,1,23,38,10825215,0
1,1,33601001754,Apple iPhone 7 (A1778),1,16,50,10825215,0